{{ $domain := index (get "default").Attributes "0" "DOMAIN" }}
$ORIGIN {{ $domain }}.
$TTL 300

@ IN SOA ns1.{{ $domain }}. hostmaster.{{ $domain }}. (
  {{ now.Unix }} ; Serial number
  28800      ; Refresh
  7200       ; Retry
  864000     ; Expire
  300        ; negative cache
)

; Nameserver
{{ range $i, $asset := query (print "DNS_NAMESERVER=^" $domain "$") }}
{{ $n := add $i 1 }}
@   IN NS ns{{$n}}
ns{{$n}} IN A  {{ range $asset.Addresses }}{{ if prefix .Pool "PROD" }}{{ .Address }}{{ end }}{{ end }}
{{ end }}

; Everything with a hostname
{{- range query "HOSTNAME=*" }}
{{- $name := index .Attributes "0" "HOSTNAME" }}
{{- range .Addresses }}
{{- $pool := index (splitN .Pool "-" 2) 0 }}
{{ printf "%-20s" (print $name "." (lower $pool)) }} IN A {{ .Address }}
{{- end }}
{{- end }}
